@media (max-width:1024px) {
    header{
        position: sticky;
        opacity: 0.94!important;
    }

    #logo-inti{
        display: none;
    }
    ul>li{
        padding: 0px!important;
        padding-right: 0.4em !important;
        /* margin:0px!important; */
    }
    ul{
        padding-left: 0px!important;
        padding-right: 0px!important;
        margin:0px!important;
    }
}

@media (max-width: 480px) {
    *{
        font-size: x-small;
    }
    header{
        max-height: 70px!important;
    }
    #logo-ap{
        height: fit-content!important;
        max-height: 70px!important;
        /* height: 10%!important; */
    }
}