<div class="bg-dark">
  <p>habilidades works!</p>
  <div class="d-flex justify-content-center">
    <h1 class="text-white">Habilidades</h1>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <circle-progress [percent]="85"[title]= "['CSS']" [unitsFontSize]="'0'" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
    <circle-progress [percent]="67" [unitsFontSize]="'0'" [titleFontSize]="'24'" [title]= "['TailWindCSS']" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
    <circle-progress [percent]="85" [unitsFontSize]="'0'" [title]= "['Sass']" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
    <circle-progress 
    [percent]="75" [titleFontSize]="'29'" [unitsFontSize]="'0'" [title]= "['JavaScript']" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
    <circle-progress [percent]="55" [unitsFontSize]="'0'" [title]= "['NodeJS']" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
    <circle-progress [percent]="45" [titleFontSize]="'30'" [unitsFontSize]="'0'" [title]= "['MongoDB']"
    [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
    <circle-progress [percent]="45" [unitsFontSize]="'0'" [title]= "['Angular']" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
    <circle-progress [percent]="56" [titleFontSize]="'27'" [unitsFontSize]="'0'" [title]="['BootStrap']" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>

    <circle-progress [percent]="45"[title]="['Java']" [unitsFontSize]="'0'"[unitsFontSize]="'0'" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
    <circle-progress [percent]="55" [unitsFontSize]="'0'" [titleFontSize]="'27'" [title]= "['Springboot']" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
    <circle-progress [percent]="85"[title]= "['CSS']" [unitsFontSize]="'0'" [radius]="100"[animation]="true"[animationDuration]="1400"></circle-progress>
  </div>
  
</div>