<div class="bg-dark d-flex flex-wrap justify-content-around h-25">
    <div id="div-img" class="w-25 translate-middle-y">
        <img src="../../../assets/MiqueasGimenez.jpeg" class="position-relative h-75 rounded-circle vw-25 img-fluid" alt="">
        <h1 class="lh-1 text-light position-relative translate-middle-y">Miqueas Gimenez</h1>
        <h3 class="lh-1 h4 rounded-2 text-light position-relative translate-middle-y">FullStack Developer</h3>
    </div>
    <div id="div-parraf" class="align-self-start w-50 bg-colorPort1 bg-opacity-75 rounded-2 px-2 py-4 mt-4">
        <p class="h5 text-light user-select-none">
            Hola! Soy Miqueas tengo 20 años y soy programador Full Stack, me apasiona la tecnología y aprender. Me considero una persona proactiva, autodidacta y metódica, me adapto fácilmente a cualquier tipo de situación.
        </p>
    </div>
</div>