<div class="bg-secondary py-5">
    <div class=" rounded-4 w-75 bg-dark d-flex flex-column container-fluid align-items-center mt-5">
        <h2 class="bg-colorPort1 bg-opacity-75 px-2 rounded-2 position-relative translate-middle-y mb-4 text-white">Formacion Actual:</h2>
        

        <div *ngFor="let estudio of estudios; index as i"
        class="container-fluid w-75 d-flex bg-colorPort1 rounded-3 my-1 py-4">
            <div>
                <h4 class="text-wrap"> {{estudios[i].anio}}</h4>
                <div class="flex-wrap d-flex container-fluid bg-colorPort2 rounded-2 p-2 w-75">
                    <p class="px-4 w-75 text-white" [innerHtml]="estudios[i].desc"></p>
                    <!-- Hacer Pipe para poner innerHtml lo del .desc  -->
                    <div class="px-4 container-fluid w-25 align-self-center"><img class="img-fluid"
                        [src]="estudios[i].img" alt="{{estudios[i].altImg}}"></div>
                </div>
            </div>
        </div>

        <!--
        <div>    
            <div class="container-fluid w-75 d-flex bg-colorPort1 rounded-3 my-1 py-4">
                <h4 class="text-wrap">2021-Actual</h4>
                <div class="flex-wrap d-flex container-fluid bg-colorPort2 rounded-2 p-2 w-75">
                    <p class="px-4 w-75 text-white">Actualmente estudiando en la facultad de informatica de la <strong>Universidad Nacional de La Plata</strong>, en la carrera Analista en Tecnologías de la Información y la Comunicación.</p>
                    <div class="px-4 container-fluid w-25 align-self-center"><img src="../../../assets/images-estudios/info.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="container-fluid w-75 d-flex bg-colorPort1 rounded-3 my-1 py-4">
            <h4 class="text-wrap">2021-Actual</h4>
            <div class="flex-wrap d-flex container-fluid bg-colorPort2 rounded-2 p-2 w-75">                    
                <p class="px-4 w-75 text-white">Actualmente estudiando en la facultad de informatica de la <strong>Universidad Nacional de La Plata</strong>, en la carrera Analista en Tecnologías de la Información y la Comunicación.</p>
                <div class="px-4 container-fluid w-25 align-self-center"><img src="../../../assets/images-estudios/info.png" alt=""></div>
            </div>
        </div>
    
        <div class="container-fluid w-75 d-flex bg-colorPort1 rounded-3 my-1 py-4">
            <h4 class="py-2 align-self-center bg-colorPort2 px-2 rounded-2 bg-opacity-75">2022-Actual</h4>
            <div class="flex-wrap d-flex container-fluid bg-colorPort2 rounded-2 p-2 w-75">
                <p class="px-3 w-50 text-white">Capacitandome en el programa <em> digitalers</em> creado por <strong>Telecom</strong> en conjunto de <strong>EducacionIT</strong>, en el bootcamp de NodeJS Developer, el cual tiene una duracion de 6 meses y una carga estimada de 306 horas.</p>
                <div class="px-4 container-fluid w-25 translate-middle-x align-self-center">
                    <img class="img-fluid" src="../../../assets/images-estudios/telecom-digitalers.png" alt="">
                    <img class="img-fluid" src="../../../assets/images-estudios/educacionIT.svg" alt="">
                </div>
            </div>
            
        </div>

        <div class="container-fluid w-75 d-flex bg-colorPort1 rounded-3 my-1 py-4">
            <h4>2022-Actual</h4>
            <div class="flex-wrap d-flex container-fluid bg-colorPort2 rounded-2 p-2 w-75">
                <p class="px-3 w-50 text-white">Realizando la 2da cohorte de Argentina Programa (#YoProgramo), capacitandome para ser programador web full stack junior. Con una carga estimada de 480 horas a lo largo de 7 meses.</p>
                <div class="px-4 container-fluid w-25 translate-middle-x align-self-center">
                    <img class="img-fluid" src="../../../assets/images-header/APlogo.png" alt="">
                </div>
            </div>
        </div>
        
        <div class="container-fluid w-75 d-flex bg-colorPort1 rounded-3 my-1 py-4">
            <h4>2021            </h4>
            <div class="d-flex container-fluid bg-colorPort2 rounded-2 p-2 w-75">
                <p class="px-3 w-50 text-white">-   Curso intensivo de Javascript CILSA La Plata</p>
                <div class="px-4 container-fluid w-25 translate-middle-x align-self-center"><img class="img-fluid rounded-2" src="../../../assets/images-estudios/cilsa.jpg" alt=""></div>
            </div>
        </div>
        
        <div class="container-fluid w-75 d-flex bg-colorPort1 rounded-3 my-1 py-4">
            <h4>2021            </h4>
            <div class="d-flex container-fluid bg-colorPort2 rounded-2 p-2 w-75">
                <p class="px-3 w-50 text-white">-   Introduccion al desarrollo web FLACSO Argentina</p>
                <div class="px-4 container-fluid w-25 translate-middle-x align-self-center"><img src="../../../assets/images-estudios/flacso.png" alt=""></div>
            </div>
        </div>
        

        <div class="container-fluid w-75 d-flex bg-colorPort1 rounded-3 my-1 py-4">
            <h4>2017-2019   </h4>
            <div class="d-flex container-fluid bg-colorPort2 rounded-2 p-2 w-75">
                <p class="px-3 w-50 text-white">- Itinerario Formativo Diseño Grafico Multimedial, EESN2 Verónica Buenos Aires.</p>
                <div class="px-4 container-fluid w-25 translate-middle-x align-self-center"><img class="img-fluid rounded-2" src="../../../assets/images-estudios/edem2.jpg" alt=""></div>
            </div>
        </div>
        
        <div class="container-fluid w-75 d-flex bg-colorPort1 rounded-3 my-1 py-4">
            <h4>2017-2019:   </h4>
            <div class="d-flex container-fluid bg-colorPort2 rounded-2 p-2 w-75">
                <p class="px-3 w-50 text-white">Secundaria: - Bachiller en Artes Visuales, EESN2 Verónica partido de Punta Indio, Buenos Aires.</p>
                <div class="px-4 container-fluid w-25 translate-middle-x align-self-center"><img class="img-fluid rounded-2" src="../../../assets/images-estudios/edem2.jpg" alt=""></div>
            </div>
        </div> -->
    </div>
</div>