<div class="d-flex justify-content-center mt-2">
    <h2 class="bg-dark bg-opacity-75 p-2 rounded-2 text-white">Proyectos</h2>
</div>
<div class="row justify-content-center">
    <div class="card col-xs-11 col-sm-9 col-md-5 col-lg-3 mx-2 my-2 bg-dark">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body text-white">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-info">Go somewhere</a>
        </div>
    </div>
    <div class="card col-xs-12 col-sm-9 col-md-5 col-lg-3 mx-2 my-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card col-xs-12 col-sm-9 col-md-5 col-lg-3 mx-2 my-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card col-xs-12 col-sm-9 col-md-5 col-lg-3 mx-2 my-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card col-xs-12 col-sm-9 col-md-5 col-lg-3 mx-2 my-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card col-xs-12 col-sm-9 col-md-5 col-lg-3 mx-2 my-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

